extends desktopTemplate.pug

append container
    section.appsSection

        for app in apps
            a(href=app.appEndpoint)
                div.icon
                    img(src=app.appImage)
                    br
                    a #{app.appName}

    section.dirsSection

        for dir in dirs
            form(method="post" action="/dir" id=dir.path style="margin: 0;")
                input(type="text" name="path" value=dir.path style="display: none;")
                div.icon(onClick=`document.getElementById('${dir.path}').submit();`)
                    img(src=dir.dirImage)
                    br
                    a #{dir.path}