head

    link(rel="stylesheet" href="style/desktop.css")
    script(src="scripts/disableScroll.js")

body

    section.appsSection

        for app in apps
            a(href=app.appEndpoint)
                div.icon
                    img(src=app.appImage)
                    br
                    a #{app.appName}

    section.dirsSection

        for dir in dirs
            a(href=dir.dirEndpoint)
                div.icon
                    img(src=dir.dirImage)
                    br
                    a #{dir.dirName}

    section#home

        div.topPanel

        div.bottomPanel
            a(href='/logout') #{logOut}
            a(href='/shutdown') #{shutDown}


    section#taskbar

        div.menuButton(onclick='switchHome();')

        div.clock#taskBarClock 00:00:00

    script(src="scripts/taskbar/clock.js")
    script(src="scripts/taskbar/home.js")