extends desktopTemplate.pug

append container

    section.dirExplorer

        header
            a.dirName #{path}
            a(href='/').closeBtn

        section.main

            section.left

                section.add

                    // @todo Custom button languages
                    button(onclick="dirHandle('dir');")#handleDirBtn Add directory

                section.add

                    button(onclick="dirHandle('special');")#handleSpecialBtn Add file


                // @todo Custom form languages
                div.form#dir
                    form(action="dirManagment" method="post")
                        input(type="text" name="parent" value=path style="display: none;")
                        input(type="text" name="type" value="dir" style="display: none;")
                        input(type="text" name="name" required placeholder="name" autocomplete="off")
                        input(type="submit" value=">" onclick="dirHandle('dir');")

                div.form#special
                    form(action="dirManagment" method="post")
                        input(type="text" name="parent" value=path style="display: none;")
                        input(type="text" name="type" value="file" style="display: none;")
                        input(type="text" name="name" required placeholder="name" autocomplete="off")
                        input(type="submit" value=">" onclick="dirHandle('special');")

            section.right

                for e in dirData
                    if e.type ==='dir'
                        form(method="post" action="/dir" id=e.path style="margin: 0;")
                            input(type="text" name="path" value=e.path style="display: none;")
                            div.icon(onClick=`document.getElementById('${e.path}').submit();`)
                                img(src=e.icon)
                                br
                                a #{e.name}
                    else
                        a(href=e.name)
                            div.icon
                                img(src=e.icon)
                                br
                                a #{e.name}
        footer

append innerBottom
    script(src="scripts/desktop/desktopDirHelper.js")