extends desktopTemplate.pug

append container
    section.appsSection

        for app in apps
            a(href=app.appEndpoint)
                div.icon
                    img(src=app.appImage)
                    br
                    a #{app.appName}

    section.dirsSection

        for dir in dirs
            a(onclick=`open('${dir.dirName}')`)
                div.icon
                    img(src=dir.dirImage)
                    br
                    a #{dir.dirName}