extends desktopTemplate.pug

append container

    section.dirExplorer

        header
            a.dirName desktop/test
            a(href='/').closeBtn

        section.main

            section.left

                section.add

                    // @todo Custom button languages
                    button(onclick="dirHandle('dir');")#handleDirBtn Add directory

                section.add

                    button(onclick="dirHandle('special');")#handleSpecialBtn Add special


                // @todo Custom form languages
                div.form#dir
                    form(action="dirManagment" method="post")
                        input(type="text" name="add" value="dir" style="display: none;")
                        input(type="text" name="parent" value=parent style="display: none;")
                        input(type="text" name="name" required placeholder="name" autocomplete="off")
                        input(type="submit" value=submitText onclick="dirHandle('dir');")

                div.form#special
                    form(action="dirManagment" method="post")
                        input(type="text" name="add" value="special" style="display: none;")
                        input(type="text" name="parent" value=parent style="display: none;")
                        input(type="text" name="name" required placeholder="name" autocomplete="off")
                        input(type="submit" value=submitText onclick="dirHandle('special');")

            section.right

                for file in dirData
                    if file.type ==='dir'
                        a(onClick=`open(${dir.path})`)
                            div.icon
                                img(src=file.icon)
                                br
                                a #{file.name}
                    else
                        a(href=file.name)
                            div.icon
                                img(src=file.icon)
                                br
                                a #{file.name}
        footer

append innerBottom
    script(src="scripts/desktop/desktopDirHelper.js")